$green: #72c02c;

@mixin title() {
    font-family: HelveticaNeue-Light, Helvetica, Arial, sans-serif;
    font-weight: 300;
}

/* --------------------------------------------------------------------
    Unify Overrides for Layout
-------------------------------------------------------------------- */

.header > .container {
    margin-bottom: 0;
}

.header .logo {
    position: relative;
    h1 {
        display: inline-block;
        font-size: 30px;
        position: absolute;
        bottom: 8px;
        left: 120px;
        white-space: nowrap;
        border-bottom: 3px solid white;
        @include title();
        color: #555;

        strong { display: none; }

        &:hover {
            border-bottom: 3px solid $green;
        }
    }
}

.topbar .search {
    width: 300px;
    position: absolute;
    right: 0;
    top: 60px;
    text-align: right;

    input {
        width: 250px;
        display: inline-block;
    }
}

.footer-default .copyright a {
    margin: 0;
}

.search-block-v2 {
    padding: 0 0 30px 0;

    small {
        display: block;
        font-size: 12px;
        line-height: 24px;
    }
}



.s-results .up-ul li {
    color: #999;
}

/* --------------------------------------------------------------------
    Generic Classes
-------------------------------------------------------------------- */

.resource-buttons {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.resource-buttons a {
    display: inline-block;
    width: 24%;
    margin-bottom: 1%;
    padding: 2em 0;
    font-size: 1.2em;
    background-color: #5061AA;
    box-shadow: 0 2px 2px #ccc;

    &:link, &:visited {
        color: white;
    }
}

.no-results {
    padding:4em 0;
    text-align: center;
    font-size:1.3em;
    color: #aaa;
    @include title();
}

.errorlist {
    font-size: 11px;
    line-height: 18px;

    margin: 5px 0 5px 0;
    padding: 0;

    li {
        margin: 0;
        padding: 0;
        color: #c00;
        list-style: none;
    }
}

.select2-container {
    width: 100%;
}

.select-multiple {
    ul {
        margin: 0 0 0 5px;
        padding: 0;
        list-style: none;
    }

    li {
        margin: 0;
        padding: 0;
        list-style: none;

        input {
            margin-right: 5px;
        }

        label {
            font-weight: normal;
        }
    }

    .select-multiple-header {
        span {
            float: right;
            color: $green;
            font-size: 11px;
            cursor: pointer;
        }
    }
}

/* --------------------------------------------------------------------
    Per-Page Overrides
-------------------------------------------------------------------- */

.page-browse-topic,
.page-browse-content-type,
.page-browse-search {
    .sky-form {
        border: none !important;

        .note { font-weight: normal; }

        fieldset {
            padding: 0;
        }
    }
}

.page-browse-topic {
    .field_id_topics { display: none; }

    .tab-content { padding: 0; }

    .search-block-v2 {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }
}

.page-browse-content-type {
    .field_id_content_type { display: none; }
}

.page-browse-search {}

.page-detail-member-only {
    h2 {
        margin-bottom: 30px;
        margin-top: 30px;

        .label {
            @include title();
            font-size: 30px;
        }
    }
}

// Big new content form
.page-submit-form {
    textarea {
        // Django makes textareas pretty large by default
        height: 200px !important;
    }

    .sky-form {
        margin-bottom: 30px;
    }

    .document-form > header {
        background-color: $green;
        color: white;
    }

    h2 {
        margin: 60px 0 30px 0;
        font-size: 18px;
        text-align: center;
    }

    .select-multiple {

        .select-multiple-header {
            margin-bottom: 10px;
        }

        ul {
            display: flex;
            flex-wrap: wrap;

            li {
                width: 50%;
                display: block;
            }
        }
    }
}
