$green: #72c02c;

@mixin title() {
    font-family: HelveticaNeue-Light, Helvetica, Arial, sans-serif;
    font-weight: 300;
}

/* --------------------------------------------------------------------
    Unify Overrides
-------------------------------------------------------------------- */

.header > .container {
    margin-bottom: 0;
}

.header .logo {
    position: relative;
    h1 {
        display: inline-block;
        font-size: 30px;
        position: absolute;
        bottom: 8px;
        left: 120px;
        white-space: nowrap;
        border-bottom: 3px solid white;
        @include title();
        color: #555;

        strong { display: none; }

        &:hover {
            border-bottom: 3px solid $green;
        }
    }
}

.topbar .search {
    width: 300px;
    position: absolute;
    right: 0;
    top: 60px;
    text-align: right;

    input {
        width: 250px;
        display: inline-block;
    }
}

.footer-default .copyright a {
    margin: 0;
}

.search-block-v2 {
    padding: 0 0 30px 0;
}

.s-results .up-ul li {
    color: #999;
}

/* --------------------------------------------------------------------
    Browse
-------------------------------------------------------------------- */


.browse-title h2{
    padding: 20px 0 10px 0;
    margin: 0;
    @include title();
    font-size: 25px;

}

.browse-results {
    background-color: #D9EAD3;
}

.filter-bar {
    border-right: 4px solid white;
}

.filter-bar {
    label {
        display: block;
    }

    select, input, .select2-container {
        width: 200px;

    }

    .helptext {
        display: none;
    }
}

.result {
    h3 {
        font-size: 1em;

        a:link { color: #2c6bd2; }
        a:visited { color: #2c6bd2; }
    }
}

/* --------------------------------------------------------------------
    Index
-------------------------------------------------------------------- */

.resource-choice {
    text-align: right;
    font-size: 1.1em;
    padding-top: 15px;
    padding-bottom: 15px;
}

.resource-buttons {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.resource-buttons a {
    display: inline-block;
    width: 24%;
    margin-bottom: 1%;
    padding: 2em 0;
    font-size: 1.2em;
    background-color: #5061AA;
    box-shadow: 0 2px 2px #ccc;

    &:link, &:visited {
        color: white;
    }
}

.call-action-v1 .call-action-v1-box {
    margin: 0 auto;
    width: 70%;
}
