django==1.8.4
django-model-utils==2.3.1
django-filter==0.11.0
django-tables2==1.0.4
django-flat-theme==1.1.1
django-s3-folder-storage==0.3
django-markup==0.4
markdown==2.6.2

# Deployment specific
dj-database-url
gunicorn
ipython
Pillow
mysql-python
psycopg2

# Private repos
#-e git+https://2e5f11c1b9f8882f92f333df3f0516e64e2ac61b:x-oauth-basic@github.com/AASHE/issdjango.git#egg=issdjango
-e git+https://2e5f11c1b9f8882f92f333df3f0516e64e2ac61b:x-oauth-basic@github.com/AASHE/aashe-auth.git@migrations#egg=aashe_auth
-e git+https://2e5f11c1b9f8882f92f333df3f0516e64e2ac61b:x-oauth-basic@github.com/AASHE/iss.git#egg=iss
