Django>=1.8,<1.9
awesome-slugify==1.6.5
django-filter==0.12.0
django-flat-theme==1.1.3
django-haystack==2.4.1
django-markup==0.4
django-model-utils==2.4
django-s3-folder-storage==0.3
django-tables2==1.0.7
elasticsearch==2.2.0
feedparser
markdown==2.6.5
sorl-thumbnail==12.3

# Deployment specific
Pillow
dj-database-url
gunicorn
ipython
psycopg2
https://github.com/jamstooks/whitenoise/archive/master.zip

# Non-pypi repos
https://github.com/AASHE/django-aashe-theme/archive/master.zip
https://github.com/AASHE/aashe-auth/archive/master.zip
https://github.com/AASHE/iss/archive/master.zip
https://github.com/AASHE/django-block-content/archive/master.zip
https://github.com/AASHE/django-integration-settings/archive/master.zip
https://github.com/chrisdrackett/django-typogrify/archive/master.zip
