<section class="field_{{ field.auto_id }}">
    <label class="label" for="{{ field.auto_id }}">{{ field.label }}:</label>
    <label class="{% block class %}input{% endblock %}">
        {{ field.errors }}
        {% block pre_field %}{% endblock %}
        {% block field %}{{ field }}{% endblock %}
        {% block post_field %}{% endblock %}
        {% if field.help_text and field.help_text != "Filter" %}
            <div class="note"><strong>Note:</strong> {{ field.help_text }}</div>
        {% endif %}
    </label>
</section>
