<section class="select-multiple field_{{ field.auto_id }}">
    {{ field.errors }}
    <div class="select-multiple-header">
        {{ field.label }}
        <span class="show-all" style="display: none;">Show all</span>
        <span class="select-all" style="display: none">
            <i class="icon fa fa-check-square"></i>
        </span>
    </div>
    {{ field }}
    {% if field.help_text and field.help_text != "Filter" %}
        <div class="note"><strong>Note:</strong> {{ field.help_text }}</div>
    {% endif %}
</section>
