{% extends "browse/base.html" %}

{% load markup_tags %}
{% load humanize %}
{% load block_content %}
{% load static %}
{% load typogrify_tags %}
{% load cache %}

{% block breadcrumbs %}
    {{ block.super }}
    <li>
        <a href="{% url "browse:browse" ct=object.content_type %}">{{ object.content_type_label }}</a>
    </li>
    <li>
        <a href={{ object.get_absolute_url }}>{{ object.title|safe }}</a>
    </li>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'aashe_theme/unify/plugins/fancybox/source/jquery.fancybox.css' %}">
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'aashe_theme/unify/plugins/fancybox/source/jquery.fancybox.pack.js' %}"></script>
    <script type="text/javascript" src="{% static 'aashe_theme/unify/js/plugins/fancy-box.js' %}"></script>
    <script type="text/javascript">
    jQuery(document).ready(function() {
        FancyBox.initFancybox();
    });
</script>
{% endblock %}

{% block body_class %}page-detail{% endblock %}

{% block title %}
  {{ object.title|safe }} - {{ block.super }}
{% endblock %}

{% block page %}
{% cache CACHE_TTL_LONG resource_detail object.id user.is_staff %}
<!-- begin cache {% now "c" %} -->
<div class="profile">
    <div class="row">
    <!-- row -->

        <!-- Resource content  -->
        <div class="col-md-9">
            <div class="profile-body">
            <!-- inner body -->

                <div class="panel panel-profile">
                    <div class="panel-heading overflow-h">
                        {% if user.is_staff %}
                            <a href="{{ object.get_admin_url }}" class="pull-right btn btn-info">
                                Edit in Admin
                            </a>
                        {% endif %}
                        <h2>{{ object.title|safe }}</h2>
                        <h4>
                        {% for org in object.organizations.all %}
                            <a href="{% url 'browse:browse' %}?organizations={{org.pk}}">
                            {{ org.org_name }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                        </h4>
                    </div>
                    <div class="panel-body">

                        {% if label_overrides.date_created %}
                          {% include "browse/details/includes/meta.html" with label=label_overrides.date_created value=object.date_created|date %}
                        {% else %}
                          {% include "browse/details/includes/meta.html" with label="Date Created" value=object.date_created|date %}
                        {% endif %}
                        {% include "browse/details/includes/meta.html" with label="Date Posted" value=object.published|date %}
                        {# }{% include "browse/details/includes/meta.html" with label="Last Updated" value=object.modified|date %} #}

                        <div class="margin-bottom-10"></div>

                        <div><strong>Sustainability Topic{{ object.topics.all|length|pluralize }}:</strong>
                            {% for t in object.topics.all %}
                                <a href="{% url "browse:browse" topic=t.slug %}">
                                    {{ t.name }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </div>

                        <div><strong>Content Type:</strong>
                            <a href="{% url "browse:browse" ct=object.content_type %}">{{ object.content_type_label }}</a></div>

                        {% if object.disciplines.all %}
                        <div><strong>Discipline{{ object.disciplines.all|length|pluralize }}:</strong>
                            {% for t in object.disciplines.all %}
                                <a href="{% url "browse:browse" %}?search=&discipline={{ t.pk }}">{{ t.name }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}

                        <div>
                            <strong>Tags:</strong>
                            {% for kw in object.keywords.all %}
                                <a href="{% url "browse:browse" %}?tagfilter={{ kw.slug }}">
                                {{ kw }}</a>{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </div>

                        {% block resource_metadata %}{% endblock %}

                    </div>
                </div>

                {% if object.description %}
                <div class="margin-bottom-30"></div>
                <div class="panel panel-profile">
                    <div class="panel-heading overflow-h">
                        <h2 class="panel-title heading-sm pull-left">{{ label_overrides.description|default:"Description" }}</h2>
                    </div>
                    <div class="panel-body">{{ object.description|apply_markup:"markdown" }}</div>
                </div>
                {% endif %}

                {% block resource_content %}
                {% endblock %}

                {# ========================================================== #}

                {% if object.authors.all %}
                <hr>
                <div class="panel panel-profile">
                    <div class="panel-heading overflow-h">
                        <h2 class="panel-title heading-sm pull-left"><i class="icon icon-user"></i> {{ label_overrides.authors|default:"Authors" }}</h2>
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled social-contacts-v3">
                            {% for author in object.authors.all %}
                            <li>
                                <i class="icon-bg-blue rounded-x tw icon icon-user"></i>
                                <strong>
                                    {% if author.email %}<a href="mailto:{{ author.email }}">{% endif %}
                                    {{ author.name }} <!-- {{ author.id }} -->
                                    {% if author.email %}</a>{% endif %}
                                </strong>
                                {% if author.title %} - {{ author.title }}{% endif %}
                                {% if author.organization %} | {{ author.organization.org_name }}{% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}

                {# ========================================================== #}

                {% if object.images.all %}
                <hr>
                <div class="panel panel-profile">
                    <div class="panel-heading overflow-h">
                        <h2 class="panel-title heading-sm pull-left"><i class="icon icon-eye"></i> Images</h2>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                        {% for image in object.images.all %}
                            <div class="col-md-4">
                                <div class="thumbnails thumbnail-style">
                                    <a class="fancybox" data-rel="fancybox-button" title="{{ image.caption }}" href="{{ image.image }}">
                                        <img class="img-responsive" src="{{ image.med_thumbnail }}" alt="{{ image.caption }}">
                                    </a>
                                    <div class="caption">
                                        {% if image.caption %}
                                        <p>{{ image.caption }}</p>
                                        {% endif %}
                                        {% if image.credit %}
                                        <p><em>Photographer credit: {{ image.credit }}</em></p>
                                        {% endif %}
                                        <p class="text-right">
                                            <a href="{{ image.image }}">
                                            <i class='fa fa-download'></i> Download
                                        </a></p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}

                {# ========================================================== #}

                {% if object.websites.all or object.files.all %}
                <hr>
                <div class="panel panel-profile">
                    <div class="panel-heading overflow-h">
                        <h2 class="panel-title heading-sm pull-left"><i class="icon  icon-folder"></i> Links and Materials</h2>
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled social-contacts-v3">
                            <!-- Websites -->
                            {% for i in object.websites.all %}
                            <li>
                                <i class="rounded-x tw icon icon-globe"></i>
                                <strong>Link:</strong> <a href="{{ i.url }}"> {{ i.label|default:i.url }}</a>
                            </li>
                            {% endfor %}

                            <!-- Files -->
                            {% for i in object.files.all %}
                            <li>
                                <i class="rounded-x tw icon icon-doc"></i>
                                <strong>File:</strong> <a href="{{ i.item }}"> {{ i.label|default:i.get_filename }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}


            <!-- /inner body -->
            </div>
        </div>

        <!-- Resource Sidebar -->
        <div class="col-md-3">

            <ul class="list-unstyled">
                <li class="notification">
                    <a href="mailto:resources@aashe.org">
                        <div class="overflow-h">
                            <span style="vertical-align:middle; font-size:20px;">
                                <i class="rounded-x icon-bg-light-green fa fa-lightbulb-o"></i>Request a change
                            </span>
                            {% block_content 'request_a_change' %}
                    </a>
                    </div>
                </li>
            </ul>

       </div>

    <!-- end row -->
    </div>
</div>
<!-- end cache -->
{% endcache %}
{% endblock %}
