{% extends "browse/base.html" %}

{% load markup_tags %}
{% load humanize %}

{% block body_class %}page-detail{% endblock %}

{% block page %}
<div class="profile">
    <div class="row">
    <!-- row -->

        <!-- Resource content  -->
        <div class="col-md-9">
            <div class="profile-body">
            <!-- inner body -->

                <div class="panel panel-profile">
                    <div class="panel-heading overflow-h">
                        <h2>{{ object.title }}</h2>
                        {% for org in object.organizations.all %}
                            {{ org.org_name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                    <div class="panel-body">

                        {% include "browse/details/includes/meta.html" with label="Date Published" value=object.published|date %}
                        {% include "browse/details/includes/meta.html" with label="Last Updated" value=object.modified|date %}

                        <div class="margin-bottom-10"></div>

                        <div><strong>Sustainability Topic{{ object.topics.all|length|pluralize }}:</strong>
                            {% for t in object.topics.all %}{{ t.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</div>

                        <div><strong>Content Type:</strong>
                            <a href="{% url "browse:browse" ct=object.content_type %}">{{ object.content_type_label }}</a></div>

                        {% if object.disciplines.all %}
                        <div><strong>Discipline{{ object.disciplines.all|length|pluralize }}:</strong>
                            {% for t in object.disciplines.all %}{{ t.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</div>
                        {% endif %}

                        {% include "browse/details/includes/meta.html" with label="Keywords" value=object.keywords %}

                        {% block resource_metadata %}{% endblock %}

                        {% if object.description %}
                        <hr>
                        {{ object.description|apply_markup:"markdown" }}
                        {% endif %}
                    </div>
                </div>

                {% block resource_content %}
                {% endblock %}

                {# ========================================================== #}

                {% if object.authors.all %}
                <hr>
                <div class="panel panel-profile">
                    <div class="panel-heading overflow-h">
                        <h2 class="panel-title heading-sm pull-left"><i class="icon icon-user"></i> Authors</h2>
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled social-contacts-v3">
                            {% for author in object.authors.all %}
                            <li>
                                <i class="rounded-x tw icon icon-user"></i>
                                <strong>
                                    {% if author.email %}<a href="mailto:{{ author.email }}">{% endif %}
                                    {{ author.name }}
                                    {% if author.email %}</a>{% endif %}
                                </strong>
                                {% if author.title %} - {{ author.title }}{% endif %}
                                {% if author.organization %} | {{ author.organization.org_name }}{% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}

                {# ========================================================== #}

                {% if object.websites.all or object.files.all or object.images.all %}
                <hr>
                <div class="panel panel-profile">
                    <div class="panel-heading overflow-h">
                        <h2 class="panel-title heading-sm pull-left"><i class="icon  icon-folder"></i> Additional Resources</h2>
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled social-contacts-v3">
                            <!-- Websites -->
                            {% for i in object.websites.all %}
                            <li>
                                <i class="rounded-x tw icon icon-globe"></i>
                                <strong>Website:</strong> <a href="{{ i.url }}"> {{ i.label|default:i.url }}</a>
                            </li>
                            {% endfor %}

                            <!-- Files -->
                            {% for i in object.files.all %}
                            <li>
                                <i class="rounded-x tw icon icon-doc"></i>
                                <strong>File:</strong> <a href="{{ i.item.url }}"> {{ i.label|default:i.item.name }}</a>
                            </li>
                            {% endfor %}

                            <!-- Images -->
                            {% for i in object.images.all %}
                            <li>
                                <i class="rounded-x tw icon icon-eye"></i>
                                <strong>Image:</strong> <a href="{{ i.image.url }}"> {{ i.caption|default:i.image.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}


            <!-- /inner body -->
            </div>
        </div>

        <!-- Resource Sidebar -->
        <div class="col-md-3">

            <ul class="list-unstyled">
                <li class="notification">
                    <i class="icon-custom icon-sm rounded-x icon-bg-green icon-line fa fa-bolt"></i>
                    <div class="overflow-h">
                        <a href="mailto:resources@aashe.org">
                            <span><strong>Request a change</strong></span>
                            <small>If you think this resource needs to be improved, please let us know.</small>
                        </a>
                    </div>
                </li>
            </ul>

       </div>

    <!-- end row -->
    </div>
</div>
{% endblock %}
