{% extends "browse/details/base.html" %}

{% load markup_tags %}

{% block resource_metadata %}
    <div class="margin-bottom-10"></div>
    <div><strong>Material Type:</strong>
        <a href="{% url "browse:browse" ct=object.content_type %}?material_type={{ object.material_type }}">
            {{ object.get_material_type_display }}</a>
    </div>
    {% include "browse/details/includes/meta.html" with label="Course Name" value=object.course_name %}
    <div><strong>Course Level:</strong>
        <a href="{% url "browse:browse" ct=object.content_type %}?course_level={{ object.course_level }}">
            {{ object.course_level }}</a>
    </div>
{% endblock %}


{% block resource_content %}
    {% if object.document %}
    <div class="margin-bottom-30"></div>
    <div class="panel panel-profile">
        <div class="panel-heading overflow-h">
            <h2 class="panel-title heading-sm pull-left">Document</h2>
        </div>
        <div class="panel-body">
            {% include "browse/details/includes/download.html" with doc=object.document label="Course Material" %}
        </div>
    </div>
    {% endif %}
{% endblock %}
