{% extends "browse/base.html" %}

{% load markup_tags %}
{% load humanize %}

{% block body_class %}page-detail-member-only{% endblock %}

{% block page %}
<div class="profile">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2><span class="label label-warning"><i class="fa fa-lock"></i> Member Only Content</span></h2>
            <div class="call-action-v1">
                <p>
                    This content is available to AASHE members only.
                    You can register for a membership <a href="http://www.aashe.org/membership">here</a>.
                </p>
                <div class="margin-bottom-30"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
