{% extends "browse/details/base.html" %}

{% load markup_tags %}

{% block resource_metadata %}
    <div class="margin-bottom-10"></div>
    {% include "browse/details/includes/meta.html" with label="Date" value=object.date|date %}
    {% include "browse/details/includes/meta.html" with label="institution" value=object.institution.name %}
    {% include "browse/details/includes/meta.html" with label="Conference" value=object.get_conf_name_display %}
    {% include "browse/details/includes/meta.html" with label="Type" value=object.get_presentation_type_display %}
{% endblock %}

