{% extends "browse/details/base.html" %}

{% load markup_tags %}

{% block resource_metadata %}
    <div class="margin-bottom-10"></div>
    {% with object.get_organization_list as orgs %}
        {% if orgs %}
            <div>
                <strong>Institution:</strong>
                {% for org in orgs %}
                    {{ org }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
{% endblock %}


{% block resource_content %}
    {% if object.document %}
    <div class="margin-bottom-30"></div>
    <div class="panel panel-profile">
        <div class="panel-heading overflow-h">
            <h2 class="panel-title heading-sm pull-left">Document</h2>
        </div>
        <div class="panel-body">
            {% include "browse/details/includes/download.html" with doc=object.document label="Tool" %}
        </div>
    </div>
    {% endif %}
{% endblock %}

