{% extends "browse/details/base.html" %}

{% load markup_tags %}

{% block resource_metadata %}
    <div class="margin-bottom-10"></div>
    {% include "browse/details/includes/meta.html" with label="Institution" value=object.institution.name %}
{% endblock %}


{% block resource_content %}
    {% if object.link %}
    <div class="margin-bottom-30"></div>
    <div class="panel panel-profile">
        <div class="panel-heading overflow-h">
            <h2 class="panel-title heading-sm pull-left">Video</h2>
        </div>
        <div class="panel-body">
            {% include "browse/details/includes/url.html" with url=object.link label="Video" %}
        </div>
    </div>
    {% endif %}
{% endblock %}

