{% extends "submit/base.html" %}

{% load static %}
{% load browse_tags %}

{% block title %}Submit a {{ content_type_label }} - {{ block.super }}{% endblock %}

{% block body_class %}page-submit-form{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'aashe_theme/unify/plugins/sky-forms-pro/skyforms/css/sky-forms.css' %}">
    <link rel="stylesheet" href="{% static 'aashe_theme/unify/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/pikaday/pikaday.css' %}">
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'vendor/pikaday/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/pikaday/pikaday.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/pikaday/pikaday.jquery.js' %}"></script>
    <script src="{% static 'js/submit-form.js' %}"></script>
    <script src="{% static 'vendor/jquery-django-inline-form/django-inline-form.js' %}"></script>
{% endblock %}

{% block page %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Base ====================================================== -->
            <div class="sky-form document-form">
                <header>
                    <i class="fa  fa-check-circle-o"></i>
                    Submit a new {{ content_type_label }}
                </header>
                {% if errors %}
                  <div class="alert alert-warning fade in">
                    <i class="fa fa-arrow-down"></i>
                    Please fix the errors below.
                  </div>
                {% endif %}
                {% if document_form.non_field_errors %}
                  {% for error in document_form.non_field_errors %}
                    <div class="alert alert-danger fade in">
                      <i class="fa fa-flag"></i>
                      {{error}}
                    </div>
                  {% endfor %}
                {% endif %}
                <fieldset>
                    {% render_form document_form %}
                </fieldset>
            </div>

            <!-- MetaData ================================================== -->

            <div class="row">
                <div class="col-md-12">

                    {% if author_formset %}
                    <a name="authors"></a>
                    <h3>{{ label_overrides.authors|default:"Author(s)" }}</h3>

                    <div class="sky-form formset" id="authors">
                        {% include "submit/includes/authors.html" %}
                    </div>
                    {% endif %}

                    {% if image_formset %}
                    <a name="images"></a>
                    <h3>Image(s)</h3>

                    <div class="sky-form formset" id="images">
                        {% include "submit/includes/images.html" %}
                    </div>
                    {% endif %}

                    {% if file_formset %}
                    <a name="files"></a>
                    <h3>File(s)</h3>

                    <div class="sky-form formset" id="files">
                        {% include "submit/includes/files.html" %}
                    </div>
                    {% endif %}

                    {% if website_formset %}
                    <a name="websites"></a>
                    <h3>Link(s)</h3>

                    <div class="sky-form formset" id="websites">
                        {% include "submit/includes/websites.html" %}
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="sky-form">
                <footer>
                    <button type="submit" class="btn-u pull-right">
                        <i class="fa fa-check-circle-o"></i>
                        Submit Resource
                    </button>
                </footer>
            </div>
        </form>
    </div>
</div>
{% endblock %}
