{% extends "submit/base.html" %}

{% load static %}
{% load browse_tags %}

{% block body_class %}page-submit-form{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "vendor/theme/plugins/sky-forms-pro/skyforms/css/sky-forms.css" %}">
    <link rel="stylesheet" href="{% static "vendor/theme/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css" %}">
{% endblock css %}

{% block page %}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form action="" method="POST" class="sky-form" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Base Resource Form -->
            <header>
                <i class="fa  fa-check-circle-o"></i>
                Submit a new {{ content_type_label }}
            </header>
            <fieldset>

            {% render_form document_form %}

            <!-- Additional Authors -->
            <header>Add up to three Authors to the Document</header>
            <fieldset>
                {{ author_formset.management_form }}
                {% for author_form in author_formset %}
                    {% render_form author_form "name" %}
                    </fieldset>
                    {% if not forloop.last %}<fieldset>{% endif %}
                {% endfor %}
            </fieldset>

            <footer>
                <button type="submit" class="btn-u pull-right">
                    <i class="fa  fa-check-circle-o"></i>
                    Submit Resource
                </button>
            </footer>
        </form>
    </div>
</div>
{% endblock %}
