{% extends "browse/base.html" %}

{% load markup_tags %}
{% load humanize %}
{% load block_content %}

{% block title %}AASHE Membership Required - {{ block.super }}{% endblock %}

{% block body_class %}page-detail-member-only{% endblock %}

{% block page %}
<div class="profile">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2><span class="label label-warning"><i class="fa fa-lock"></i> Member Only Content</span></h2>
            <div class="call-action-v1">
                <p>
                    {% block_content 'not_a_member' %}
                </p>
                <div class="margin-bottom-30"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
