{{ file_formset.management_form }}

<div id="file-container">
  {% with file_formset as formset %}
    {% include 'submit/includes/errors.html' %}
  {% endwith %}
  {% for form in file_formset %}
    <fieldset class="file-fieldset-{{ forloop.counter0 }}">
      {% include "submit/includes/files_detail_form.html" %}
    </fieldset>
  {% endfor %}
</div>

<div>
  <button class="btn-u btn-u-default inline-add" id="add-file" type="button">
    <i class="fa fa-plus-square"></i>
    Add File
  </button>
  <button
    class="btn-u btn-u-default inline-add"
    id="file-delete"
    type="button">
    <i class="fa fa-minus-square"></i>
  </button>
</div>

{# Templates for jquery-django-inline-forms #}

<script type="text/html" id="file-template">
  <fieldset class="file-fieldset-__prefix__"  style="display: none;">
      {% with file_formset.empty_form as form %}
        {% include "submit/includes/files_detail_form.html" %}
      {% endwith %}
  </fieldset>
</script>
