{{ image_formset.management_form }}

<div id="image-container">
  {% with image_formset as formset %}
    {% include 'submit/includes/errors.html' %}
  {% endwith %}
  {% for form in image_formset %}
    <fieldset class="image-fieldset-{{ forloop.counter0 }}">
      {% include "submit/includes/images_detail_form.html" %}
    </fieldset>
  {% endfor %}
</div>

<div>
  <button class="btn-u btn-u-default inline-add" id="add-image" type="button">
    <i class="fa fa-plus-square"></i>
    Add Image
  </button>
  <button
    class="btn-u btn-u-default inline-add"
    id="image-delete"
    type="button">
    <i class="fa fa-minus-square"></i>
  </button>
</div>

{# Templates for jquery-django-inline-forms #}

<script type="text/html" id="image-template">
  <fieldset class="image-fieldset-__prefix__"  style="display: none;">
      {% with image_formset.empty_form as form %}
        {% include "submit/includes/images_detail_form.html" %}
      {% endwith %}
  </fieldset>
</script>
