{% extends "browse/base.html" %}

{% load block_content %}

{% block body_class %}page-index{% endblock %}

{% block title %}{{ block.super }}{% endblock %}

{% block browse_additional_tabs %}
    <li class="active"><a data-toggle="tab" href="#topics" aria-expanded="true">Browse Topic List</a></li>
    <li class=""><a data-toggle="tab" href="#contenttypes" aria-expanded="false">Browse Content Types</a></li>
{% endblock %}

{% block browse_tab_content %}
    <!-- Topic list -->
    <div id="topics" class="tab-pane fade active in">
        <div class="row">
            {% for topic in topic_list %}
            <div class="col-md-3 col-sm-6">
                <a href="{% url "browse:browse" topic=topic.slug %}"
                    class="resource-button service-block {{ topic.css_class}}">
                    {% if topic.icon %}<i class="{{ topic.icon }}"></i>{% endif %}
                    {{ topic }}
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Content list -->
    <div id="contenttypes" class="tab-pane fade">
        <div class="row">
            {% for slug, class in content_type_list.items %}
            <div class="col-md-3 col-sm-6">
                <a href="{% url "browse:browse" ct=slug %}"
                    class="resource-button service-block">
                    {{ class.content_type_label }}
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- /end -->
{% endblock %}

{% block browse_below_tab_content %}
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="call-action-v1">
            {% block_content 'home_page_footer' %}
            </div>
            <div class="margin-bottom-30"></div>
        </div>
      </div>
    </div>
{% endblock %}
