{% extends "aashe_theme/errors/base.html" %}

{% block error_title %}403 Permission Denied{% endblock %}
{% block error_h1 %}403 Permission Denied{% endblock %}
{% block error_text %}
  You do not have permission to access this page or you may have temporarily exceeded the allowable consecutive requests for this page. Limit will reset in 5 minutes.<br><br>
  If you feel you have received this message in error, please contact <a href='mailto:resources@aashe.org'>resources@aashe.org</a>.
{% endblock %}
