{% load static from staticfiles %}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
{% block head %}
    <title>{% block title %}AASHE Campus Sustainability Hub{% endblock %}</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="{% block meta_description %}{% endblock %}" name="description"/>
    <meta content="" name="author"/>

    <link rel="shortcut icon" href="favicon.ico"/>

    <link rel="shortcut" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=cyrillic,latin"/>

    <!-- CSS Theme -->
    <link rel="stylesheet" href="{% static "vendor/theme/plugins/bootstrap/css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "vendor/theme/css/style.css" %}"/>
    <link rel="stylesheet" href="{% static "vendor/theme/css/headers/header-default.css" %}"/>
    <link rel="stylesheet" href="{% static "vendor/theme/css/footers/footer-default.css" %}"/>
    <link rel="stylesheet" href="{% static "vendor/theme/plugins/animate.css" %}"/>
    <link rel="stylesheet" href="{% static "vendor/theme/plugins/line-icons/line-icons.css" %}"/>
    <link rel="stylesheet" href="{% static "vendor/theme/plugins/font-awesome/css/font-awesome.css" %}"/>
    <link rel="stylesheet" href="{% static "vendor/theme/css/theme-colors/default.css" %}"/>

    <!-- CSS Theme -->
    <link rel="stylesheet" href="{% static "vendor/select2/select2.css" %}"/>
    <link rel="stylesheet" href="{% static "vendor/select2/select2-bootstrap.css" %}"/>

    <!-- CSS App Level -->
    <link rel="stylesheet" href="{% static "css/base.css" %}"/>
{% endblock %}
</head>
<body>


<div class="wrapper">
    <div class="header">
    <!-- Header -->
        <div class="container">
            <a class="logo" href="{% url "browse-home" %}">
                <img src="{% static "img/logo-small.png" %}" alt="AASHE logo" title=""/>
                <h1><strong>AASHE</strong> Campus Sustainability Hub</h1>
            </a>

            <div class="topbar">
                <ul class="loginbar pull-right">
                    <li><a href="http://www.aashe.org/user">My Account</a></li>
                    <li class="topbar-devider"></li>
                    <li><a href="/login/">Login</a></li>
                </ul>

                <form class="search" action="{% url "browse" %}" method="GET">
                    <input type="text" name="search" class="form-control" placeholder="Search">
                    <button class="btn-u" type="submit">Go</button>
                </form>
            </div>
        </div>
    <!-- /Header -->
    </div>

    <div class="content">
        <div class="container">
        {% block page %}{% endblock %}
        </div>
    </div>

    <!-- Footer -->
    <div class="footer-default">
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <p>All Material Copyright © 2005–2015 Association for the Advancement of
                            Sustainability in Higher Education. AASHE reserves the right to control
                            the reproduction and use of all material posted on this website.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>2401 Walnut Street Suite 102 Philadelphia, PA 19103 - t/f: 888-347-9997. For problems or questions
                            about this site please <a href="http://www.aashe.org/contact">contact the webmaster</a> &mdash;
                            <a href="http://www.aashe.org/privacy-policy">Privacy Policy</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Footer -->
</div>

{% block javascript %}
<!-- JS Theme -->
<script src="{% static "vendor/theme/plugins/jquery/jquery.min.js" %}"></script>
<script src="{% static "vendor/theme/plugins/jquery/jquery-migrate.min.js" %}"></script>
<script src="{% static "vendor/theme/plugins/bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "vendor/theme/plugins/back-to-top.js" %}"></script>
<script src="{% static "vendor/theme/plugins/smoothScroll.js" %}"></script>
<script src="{% static "vendor/theme/js/custom.js" %}"></script>
<script src="{% static "vendor/theme/js/app.js" %}"></script>

<!-- JS Plugins -->
<script src="{% static "vendor/select2/select2.min.js" %}"></script>

<!-- JS App Level -->
<script src="{% static "js/base.js" %}"></script>

<!--[if lt IE 9]>
    <script src="{% static "vendor/theme/plugins/respond.js" %}"></script>
    <script src="{% static "vendor/theme/plugins/html5shiv.js" %}"></script>
    <script src="{% static "vendor/theme/plugins/placeholder-IE-fixes.js" %}"></script>
<![endif]-->
{% endblock %}
</body>
</html>
