{% extends "base.html" %}

{% block page %}
<div class="row">
  <div class="col-md-12">
    <h2>{{ topic }}</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <form method="GET" action="" class="filter-form">
        {{ object_list.form }}
        <input type="submit"/>
        <a href=".">Show all</a>
    </form>
  </div>
  <div class="col-md-9">
    <ul class="hub-results">
    {% for obj in object_list %}
        <li>{{ obj.title }}</li>
    {% empty %}
        <em>None found</em>
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
