"""
Example settings for local development

Use this file as a base for your local development settings and copy
it to hub/settings/local.py. It should not be checked into
your code repository.
"""
from .base import *   # pylint: disable=W0614,W0401

ALLOWED_HOSTS = ('*',)

SECRET_KEY = 'w&*kr1(3@b4x0xz+)81!yxh7b)033#-tu##naqq8jvj82^&m*x'

DEBUG = True

ADMINS = (
    ('You', 'your@email'),
)
MANAGERS = ADMINS

DATABASES = {
    # MySQL
    'default': {
        'NAME': 'hub',
        'ENGINE': 'django.db.backends.mysql',
        'USER': 'root',
        'PASSWORD': '',
        'HOST': 'localhost',
    },

    # Postgres
    #'default': {
    #    'NAME': 'hub',
    #    'ENGINE': 'django.db.backends.postgresql_psycopg2',
    #    'USER': 'hub',
    #    'PASSWORD': '',
    #    'HOST': 'localhost',
    #},
}

# Enable debug logging
#LOGGING['loggers']['hub']['level'] = 'DEBUG'
#LOGGING['loggers']['django']['level'] = 'DEBUG'
